name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {} # support manual runs
# Prevent writing to the repository using the CI token.
# Ref: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#permissions
permissions: read-all
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Generate
        run: make generate && make checkgenerate
      - name: Build
        run: make build && make checkgenerate
      - uses: bufbuild/buf-setup-action@v1.29.0-1
      - run: |
          mkdir -p test/v1
          echo "version: v1" >> buf.yaml
          echo 'syntax = "proto3"; package test.v1; message A { string a = 1; }' >> test/v1/test.proto
      - name: Validate Action
        uses: ./
